@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
}

h1 {
	font-size: 50px;
	line-height: 64px;
	color: #222;


}

h2 {
	font-size: 46px;
	line-height: 54px;
	color: #222;
}


h4 {
	font-size: 20px;
	color: #222;
}

h6 {
	font-size: 12px;
	font-weight: 700;
}

p {
	font-size: 16px;
	color: #222;
	margin: 15px 0 20px 0;
}



.section-p1 {
	padding: 40px 80px;
}

.section-m1 {
	margin: 40px 0;
}

button.normal {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: white;
	background-color: black;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;


}



body {
	width: 100%;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #cdebbc;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

/*Navbar*/
#navbar {
	display: flex;
	algin-items: center;
	justify-content: center;

}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 2px;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
}



#mobile {
	display: none;
	align-items: center;
}

#close {
	display: none;
}

#product1 {
	text-align: center;
}


#product1 .pro-container {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
	/*i ndan ne rreshta fotot pa qen nevoja e nje slideri*/
}


#product1 .pro {
	width: 20%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 2px 2px 3px rgba(0, 0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

#product1 .pro:hover {
	box-shadow: 7px 7px 15px rgba(0, 0, 0.04);
}

#product1 .pro img {
	width: 100%;
	border-radius: 20px;
}


#product1 .pro .des {
	text-align: start;
	padding: 10px 0;
}

#product1 .pro .des span {
	color: #606063;
	font-size: 12px;
}

#product1 .pro .des h5 {
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
}

#product1 .pro .des i {
	font-size: 12px;
	color: rgb(243, 181, 25);
}


#product1 .pro .des h4 {
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #088178;
}



#product1 .pro .fa-clipboard-user {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: #cdebbc;
	font-weight: 500;
	color: black;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 20px;
	right: 10px;
}


#product1 .pro .cart:hover {
	background-color: #088178;
	color: #cdebbc;
	transition: 0.2s;
}



#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	algin-items: center;
	text-align: center;
	background-image: url("img/banner/b2.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;

}


#banner h4 {
	color: white;
}

#banner h2 {
	color: white;
	padding: 10px;
}

#banner h2 span {
	color: #ef3636;
}

#banner button:hover {
	background: #088178;
	color: #fff;
}

#banner button a {
	text-decoration: none;
	color: white;
}

#newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-image: url("img/banner/b14.png");
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: #041e42;
}

#newsletter h4 {
	font-size: 22px;
	font-weight: 700;
	color: white;
}

#newsletter p {
	font-size: 14px;
	font-weight: 600;
	color: #818ea0;
}

#newsletter p span {
	color: #ffbd27;
}

#newsletter .form {
	display: flex;
	width: 40%;
}


#newsletter input {
	height: 3.125rem;
	padding: 0 1.25em;
	font-size: 14px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
	/*per te hequr harkun mes butonit dhe inputit*/
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;



}

#newsletter button {
	background-color: #088178;
	color: white;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*Courses-page*/
#page-header {
	
	background-image: url("img/banner/b14.png");
	background-color: #0d213c;
	
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 14px;
}

.container2 {
	padding: 20px;


	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.container2 form {
	width: 40%;
	display: flex;
	padding: 5px;
	border: 1px solid rgb(82, 74, 235);
	border-radius: 4px;
	display: flex;
	flex-direction: row;

}

.container2 form input {
	border: none;
	outline: none;
	box-shadow: none;
	width: 100%;
	font-size: 16px;
	font-weight: 300;
	padding: 8px 6px;

}

.container2 form i {
	margin-top: 7px;
}

#page-header h2,
#page-header p {
	color: white;
}


#pagination {
	text-align: center;
}

#pagination a {
	text-decoration: none;
	background-color: #088178;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: 600;
}

#pagination a i {
	font-size: 16px;
	font-weight: 600;
}


/*Contact-page*/
#contact-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#contact-details .details {
	width: 40%;
}

#contact-details .details span,
#form-details form span {
	font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
	font-size: 26px;
	line-height: 35px;
	padding: 20px 0;
}

#contact-details .details h3 {
	font-size: 16px;
	padding-bottom: 15px;
}

#contact-details .details li {
	list-style: none;
	display: flex;
	padding: 10px 0;
}

#contact-details .details li i {
	font-size: 14px;
	padding-right: 22px;
}

#contact-details .details li p {
	margin: 0;
	font-size: 14px;
}

#contact-details .map {
	width: 55%;
	height: 400px;
}

#contact-details .map iframe {
	width: 100%;
	height: 100%;
}

#form-details {
	display: flex;
	justify-content: space-between;
	margin: 30px;
	padding: 80px;
	border: 1px solid #e1e1e1;
}

#form-details form {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
	width: 100%;
	padding: 12px 15px;
	outline: none;
	margin-bottom: 20px;
	border: 1px solid #e1e1e1;

}

#form-details form button {
	background-color: #088178;
	color: white;
}

#form-details .people div {
	padding-bottom: 25px;
	display: flex;
	align-items: flex-start;
}

#form-details .people div img {
	width: 65px;
	height: 65px;
	object-fit: cover;
	margin-right: 15px;
}

#form-details .people div p {
	margin: 0;
	font-size: 13px;
	line-height: 25px;
}

#form-details .people div p span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: black;
}



footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}


footer .logo {
	margin-bottom: 30px;
	
}

footer h4 {
	font-size: 14px;
	padding-bottom: 20px;
}

footer p {
	font-size: 13px;
	margin: 0 0 8px 0;
}

footer a {
	font-size: 13px;
	/*heqim underline qe ka linku*/
	text-decoration: none;
	color: #222;
	margin-bottom: 10px;
}

footer .follow {
	margin-top: 20px;
}

footer .follow i {
	color: #465b52;
	padding-right: 4px;
	cursore: pointer;
}

footer .install .row img {
	border: 1px solid #088178;
	border-radius: 6px;
}

footer .install img {
	margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
	color: #088178;
}


/*Cart page*/
.fa-shopping-bag {
	position: relative;
}

.fa-shopping-bag span {
	position: absolute;
	top: -12px;
	right: -13px;
	background-color: #088178;
	color: white;
	font-size: 0.69rem;
	padding: 5px 5px;
	border-radius: 50%;
	background-position: top;

}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close,
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus ,
.close1:hover,
.close1:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.green {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;background-color: #088178;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}
.disable {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	background-color: #6ae3db;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}


.students{
	margin-top: 40px;
	width: 100%;
	
}


.main-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #021e34;
}
.main-wrap .product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.main-wrap .product .image-gallery{
	padding: 10px;
    flex-basis: 47%;
    background: #088178;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    position: relative;
}

.main-wrap .product .image-gallery img{
    width: 100%;
    padding-top: 70px;
	padding-bottom: 70px;
}
.main-wrap .product .course-details2{
    margin-top: 10px;
    flex-basis: 53%;
    background: #fff;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px 40px 40px;
}
.main-wrap .product .course-details2 .details2{
    margin-bottom: 20px;
}
.main-wrap .product .course-details2 .details2 h2{
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #011627;
}
.main-wrap .product .course-details2 .details2 h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
    color: #011627;
}
.main-wrap .product .course-details2 .details2 h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    color: #f72585;
    margin-bottom: 10px;
}
.main-wrap .product .course-details2 .details2 p{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    color: #011627;
}
@keyframes light{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}



/*comments*/
#comments {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}

#comments {
	
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
	background-color: #021e34
}


.wrapper{
	background-color: #021e34;
}





.wrapper {
	background: var(--white);
	padding: 2rem;
	max-width: 1000px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
	text-align: center;
}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}


.rating2 {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating2 .star {
	cursor: pointer;
}
.rating2 .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}
@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--blue);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--blue-d-1);
}
.btn-group .btn.cancel {
	background: var(--white);
	font-size: medium;
	color:#088178;
}
.btn-group .btn.cancel:hover {
	background: var(--light);
}

/*Start Media Query*/



@media (max-width:799px) {
	.section-p1 {
		padding: 40px 40px;
	}

	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: #cdebbc;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		padding: 80px 0 0 10px;
		transition: 0.3s;

	}

	#navbar.active {
		right: 0px;
	}


	#navbar li {
		margin-bottom: 25px;
	}

	#mobile {
		display: flex;
		align-items: center;
	}

	#mobile i {
		color: #1a1a1a;
		font-size: 24px;
		padding-left: 20px;
	}

	#close {
		display: initial;
		position: absolute;
		top: 30px;
		left: 30px;
		color: #222;
		font-size: 24px;

	}

	#lg-bag {
		display: none;

	}

	#product1 .pro-container {
		justify-content: center;

	}

	#product1 .pro {
		margin: 15px;
	}

	#banner {
		height: 20vh;
	}

	#banner3 {
		padding: 0 40px;
	}

	#newsletter .form {
		width: 70%;
	}

	.container2 form {
		width: 70%;
	}

	/*Contact Page*/
	#form-details {
		padding: 40px;
	}

	#form-details form {
		width: 50%;
	}
}





@media(max-width: 477px) {
	#header {
		padding: 10px 30px;
	}

	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 32px;
	}

	#newsletter .form {
		width: 100%;

	}

	/*Contact Page*/
	#contact-details {
		flex-direction: column;

	}

	#contact-details .details {
		width: 100%;
		margin-bottom: 30px;
	}

	#contact-details .map {
		width: 100%;
	}

	#form-details {
		margin: 10px;
		padding: 30px 10px;
		flex-wrap: wrap;
	}

	#form-details form {
		width: 100%;
		margin-bottom: 30px;
	}

	.container2 form {
		width: 100%;
	}

}

/*End media Query*/
.btn-secondary-xsmall {
    background: #fff!important;
    color: #212442!important;
    border-radius: 5rem!important;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Knockout HTF49","Arial",sans-serif;
    font-size: 1.8rem!important;
    font-weight: 400;
    height: 5.6rem!important;
    letter-spacing: .03em;
    text-transform: uppercase;
    box-shadow: none;
    border: 1px solid #212442!important;
    text-decoration: none!important;
    width: 20rem;
    white-space: nowrap;
    transition: all .2s ease;
    height: 4rem!important;
}



